.flex-row {
  text-align: center;
}

.col-4 {
  flex: 0 0 auto;
  width: 17.3%;
}
#partner .row {
  justify-content: center;
  margin-top: $t50-margin-top;
}
.container img {
  width: 64%;

  margin-top: $t50-margin-top;
}
